In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('../input/train.csv')
test=pd.read_csv('../input/test.csv')

In [3]:
train.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,6141,1583,144,3,2011-05-06 16:54:00,3.75,14056.0,35
1,6349,1300,3682,6,2011-05-11 07:35:00,1.95,13098.0,35
2,16783,2178,1939,4,2011-11-20 13:20:00,5.95,15044.0,35
3,16971,2115,2983,1,2011-11-22 12:07:00,0.83,15525.0,35
4,6080,1210,2886,12,2011-05-06 09:00:00,1.65,13952.0,35

In [4]:
# print(data.info())
# print(data.describe())
# print(train.info())
# print(train.describe())
# print(test.info())
# print(test.describe())

In [5]:
train['StockCode']=train['StockCode'].astype(str) + '_' + train['Description'].astype(str)
test['StockCode']=test['StockCode'].astype(str) + '_' + test['Description'].astype(str)

In [6]:
train['InvoiceDate']=pd.to_datetime(train['InvoiceDate'])
test['InvoiceDate']=pd.to_datetime(test['InvoiceDate'])

In [7]:
train.loc[:,'year']=train['InvoiceDate'].dt.year
train.loc[:,'months']=train['InvoiceDate'].dt.month
train.loc[:,'day']=train['InvoiceDate'].dt.dayofweek
train.loc[:,'hour']=train['InvoiceDate'].dt.hour
train.drop('InvoiceDate',inplace=True,axis=1)

In [8]:
test.loc[:,'year']=test['InvoiceDate'].dt.year
test.loc[:,'months']=test['InvoiceDate'].dt.month
test.loc[:,'day']=test['InvoiceDate'].dt.dayofweek
test.loc[:,'hour']=test['InvoiceDate'].dt.hour
test.drop('InvoiceDate',inplace=True,axis=1)

In [9]:
train[train['UnitPrice']>5000]

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour
140723,20237,3681_2140,2140,-1,38970.00,15098.0,35,2011,6,4,15
239556,19848,3683_2624,2624,-1,8142.75,16029.0,35,2011,5,1,12

In [10]:
train.drop(index=[140723,239556],inplace=True,axis=0)
train.drop('Description',axis=1,inplace=True)
test.drop('Description',axis=1,inplace=True)

In [11]:
# plt.figure()
# print('skew %.2f' %train['UnitPrice'].skew())
# sns.distplot(train['UnitPrice']);

In [12]:
# train['UnitPrice']=train['UnitPrice'].map(lambda i:np.log(i) if i>0 else 0)

In [13]:
# plt.figure()
# print('skew %.2f' %train['UnitPrice'].skew())
# sns.distplot(train['UnitPrice']);

In [14]:
train.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour
0,6141,1583_144,3,3.75,14056.0,35,2011,5,4,16
1,6349,1300_3682,6,1.95,13098.0,35,2011,5,2,7
2,16783,2178_1939,4,5.95,15044.0,35,2011,11,6,13
3,16971,2115_2983,1,0.83,15525.0,35,2011,11,1,12
4,6080,1210_2886,12,1.65,13952.0,35,2011,5,4,9

In [15]:
test.head()

,InvoiceNo,StockCode,Quantity,CustomerID,Country,year,months,day,hour
0,3139,1709_1079,3,16161.0,35,2011,2,1,15
1,617,510_3457,1,17341.0,35,2010,12,2,12
2,14653,604_694,36,15158.0,35,2011,10,1,13
3,8634,1478_3473,2,16033.0,35,2011,6,0,12
4,15546,3216_871,1,15351.0,35,2011,11,6,16

In [16]:
test['UnitPrice']=-100

In [17]:
data=pd.concat((train,test)).reset_index(drop=True)

In [18]:
data.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour
0,6141,1583_144,3,3.75,14056.0,35,2011,5,4,16
1,6349,1300_3682,6,1.95,13098.0,35,2011,5,2,7
2,16783,2178_1939,4,5.95,15044.0,35,2011,11,6,13
3,16971,2115_2983,1,0.83,15525.0,35,2011,11,1,12
4,6080,1210_2886,12,1.65,13952.0,35,2011,5,4,9

In [19]:
temp1=data['InvoiceNo'].value_counts().to_dict()
data['frq_inv']=data['InvoiceNo']
data['frq_inv']=data['frq_inv'].map(temp1)

In [20]:
temp2=data['CustomerID'].value_counts().to_dict()
data['frq_custo']=data['CustomerID']
data['frq_custo']=data['frq_custo'].map(temp2)

In [21]:
temp3=data['StockCode'].value_counts().to_dict()
data['frq_stock']=data['StockCode']
data['frq_stock']=data['frq_stock'].map(temp3)

In [22]:
data.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour,frq_inv,frq_custo,frq_stock
0,6141,1583_144,3,3.75,14056.0,35,2011,5,4,16,44,1128,491
1,6349,1300_3682,6,1.95,13098.0,35,2011,5,2,7,42,605,282
2,16783,2178_1939,4,5.95,15044.0,35,2011,11,6,13,66,461,475
3,16971,2115_2983,1,0.83,15525.0,35,2011,11,1,12,40,180,480
4,6080,1210_2886,12,1.65,13952.0,35,2011,5,4,9,44,138,156

In [23]:
test_upd=data[data['UnitPrice']==-100]
train_upd=data[data['UnitPrice']!=-100]

In [24]:
train_upd.to_csv('../input/train_upd.csv',index=False)
test_upd.to_csv('../input/test_upd.csv',index=False)

In [25]:
train_upd.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour,frq_inv,frq_custo,frq_stock
0,6141,1583_144,3,3.75,14056.0,35,2011,5,4,16,44,1128,491
1,6349,1300_3682,6,1.95,13098.0,35,2011,5,2,7,42,605,282
2,16783,2178_1939,4,5.95,15044.0,35,2011,11,6,13,66,461,475
3,16971,2115_2983,1,0.83,15525.0,35,2011,11,1,12,40,180,480
4,6080,1210_2886,12,1.65,13952.0,35,2011,5,4,9,44,138,156

In [26]:
sum(train_upd.UnitPrice>10)

8194

In [60]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Activation, Reshape, Embedding,Concatenate,SpatialDropout1D,BatchNormalization

import pandas as pd 
from keras.models import Model
from keras.layers import Input, Dense, Concatenate, Reshape, Dropout
from keras.layers.embeddings import Embedding
import numpy as np
from sklearn.model_selection import StratifiedKFold
from  sklearn.utils import shuffle 
from sklearn.model_selection import train_test_split
from keras.models import model_from_json

from keras.models import load_model
from keras.callbacks import ModelCheckpoint
import keras.objectives
from keras.callbacks import CSVLogger

In [61]:
import pandas as pd
from sklearn import preprocessing
# read training data
train = pd.read_csv("../input/train_upd.csv")
test = pd.read_csv("../input/test_upd.csv")

In [62]:
train.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour,frq_inv,frq_custo,frq_stock
0,6141,1583_144,3,3.75,14056.0,35,2011,5,4,16,44,1128,491
1,6349,1300_3682,6,1.95,13098.0,35,2011,5,2,7,42,605,282
2,16783,2178_1939,4,5.95,15044.0,35,2011,11,6,13,66,461,475
3,16971,2115_2983,1,0.83,15525.0,35,2011,11,1,12,40,180,480
4,6080,1210_2886,12,1.65,13952.0,35,2011,5,4,9,44,138,156

In [63]:
# concatenate both training and test data
data = pd.concat([train, test]).reset_index(drop=True)
cat_col=[feat for feat in train.columns if feat not in ['UnitPrice']]

In [64]:
# for feat in cat_col:
#     if feat !='Quantity':
#         data.loc[data[feat].map(data[feat].value_counts())<5,feat]='rare'

In [65]:
# for feat in cat_col:
#     print(data[feat].value_counts())

In [66]:
for feat in cat_col:
    lbl_enc = preprocessing.LabelEncoder()
    temp_col = data[feat].fillna("NONE").astype(str).values
    data.loc[:, feat] = lbl_enc.fit_transform(temp_col)
train2= data[data.UnitPrice != -100].reset_index(drop=True)
test2 = data[data.UnitPrice == -100].reset_index(drop=True)

In [67]:
# from sklearn.model_selection import KFold
# train2['kfold']=-1

# kf=KFold(n_splits=10,shuffle=True,random_state=42)
# for fold,(trn,vld) in enumerate(kf.split(train2)):
#     train2.loc[vld,'kfold']=fold

In [69]:
train2.head()

,InvoiceNo,StockCode,Quantity,UnitPrice,CustomerID,Country,year,months,day,hour,frq_inv,frq_custo,frq_stock
0,17903,671,271,3.75,1273,29,1,7,4,6,134,20,373
1,18133,351,358,1.95,576,29,1,7,2,12,130,400,211
2,7539,1447,305,5.95,1984,29,1,2,5,3,162,340,361
3,7748,1372,134,0.83,2351,29,1,2,1,2,128,104,366
4,17835,248,156,1.65,1195,29,1,7,4,14,134,53,73

In [70]:
# def kfold(fold):
#     train_f=train2[train2['kfold']!=fold]
#     valid_f=train2[train2['kfold']==fold]
#     x_train=train_f.drop('UnitPrice',axis=1)
#     y_train=train_f['UnitPrice']
#     x_valid=valid_f.drop('UnitPrice',axis=1)
#     y_valid=valid_f['UnitPrice']
#     x_train.drop('kfold',axis=1,inplace=True)
#     x_valid.drop('kfold',axis=1,inplace=True)
#     return x_train,y_train,x_valid,y_valid
# # x_train,y_train,x_valid,y_valid=kfold(0)

In [71]:
# x_train,y_train,x_valid,y_valid=kfold(0)
# x_train.head()

In [72]:
data.Quantity.nunique()

436

In [73]:
x_train=train2.drop('UnitPrice',axis=1)
y_train=train2['UnitPrice']

In [74]:
# fold=0
# x_train,y_train,x_valid,y_valid=kfold(fold)

x_trn=[]
for feat in cat_col:
    x_trn.append(x_train[feat].values)
    
# x_vld=[]
# for feat in cat_col:
#     x_vld.append(x_valid[feat].values)
    
x_tst=[]
for feat in cat_col:
    x_tst.append(test2[feat].values)  
    
inp_size={}
emb_size={}
for feat in cat_col:
    inp_size[feat]=data[feat].nunique()
    
for feat in cat_col:
    emb_size[feat]= int(min(50,np.ceil(inp_size[feat]/2)))

In [75]:
emb_size

{'InvoiceNo': 50,
 'StockCode': 50,
 'Quantity': 50,
 'CustomerID': 50,
 'Country': 19,
 'year': 1,
 'months': 6,
 'day': 3,
 'hour': 8,
 'frq_inv': 50,
 'frq_custo': 50,
 'frq_stock': 50}

In [76]:
tensorboard_cb = keras.callbacks.TensorBoard(
    log_dir='tensorboard!',
    histogram_freq=1,
    write_graph=True,
    write_images=True
)
csv_logger = CSVLogger('history/loss!.csv', append=True, separator=',')

In [77]:
inputs = []
embeddings = []


for feat in cat_col:
    input1 = Input(shape=(1,))
    embedding = Embedding(inp_size[feat] +1 , emb_size[feat], input_length=1)(input1)
    embedding=SpatialDropout1D(0.3)(embedding)
    embedding = Reshape(target_shape=(emb_size[feat],))(embedding)
    inputs.append(input1)
    embeddings.append(embedding)
print(embeddings)

x = Concatenate()(embeddings)
# x = Dense(1024, activation='relu')(x)
# x = Dropout(.35)(x)
x = BatchNormalization()(x)
x = Dense(512, activation='relu')(x)
x = Dropout(.35)(x)
x = Dense(256, activation='relu')(x)
x = Dropout(.15)(x)
x = Dense(128, activation='relu')(x)
x = Dropout(.15)(x)
x = Dense(128, activation='relu')(x)
x = Dropout(.15)(x)
x = Dense(64, activation='relu')(x)
x = Dropout(.15)(x)
x = Dense(16, activation='relu')(x)
x = Dropout(.15)(x)
output = Dense(1, activation='linear')(x)
model = Model(inputs, output)
# model = Model(inputs, output)


from keras import backend as K

# def root_mean_squared_error(y_true, y_pred):
#         return K.sqrt(K.mean(K.square(y_pred - y_true), axis=-1)) 

def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true)))




def lr_scheduler(epoch, lr):
        if (epoch+1)%5==0:
                return lr * 0.4
        return lr


callback = tf.keras.callbacks.LearningRateScheduler(lr_scheduler)



opt=keras.optimizers.Adam(lr=1e-3)


# opt=keras.optimizers.RMSprop(lr=4e-3,decay=0.95,momentum=0.9, epsilon=1e-8, name="RMSprop")

model.compile(loss = root_mean_squared_error,optimizer=opt , metrics=['mean_absolute_error'])
# model.compile(loss ='mean_absolute_error' ,optimizer='adam', metrics=['mean_absolute_error',root_mean_squared_error])
print(model.summary())



cp1= ModelCheckpoint(filepath="finalswap/save_best.h5", monitor='loss',save_best_only=True,verbose=1,mode='min',save_weights_only=True)
cp2= ModelCheckpoint(filepath='finalswap/save_all.h5', monitor='loss',save_best_only=False ,verbose=2,save_weights_only=True)

callbacks_list = [callback,cp1,cp2,csv_logger]






# model.fit(X_train,y_train, batch_size =1024, epochs = 1000, validation_split = 0.2,validation_data=(xval, yval))
# model.fit(x,y_train.values, batch_size =1024, epochs = 10,validation_data=(x_v,y_valid.values),shuffle=True,callbacks=[callbacks_list])
# model.fit(x_trn,y_train.values, batch_size =2048, epochs = 25 ,validation_data=(x_vld,y_valid.values))
model.fit(x_trn,y_train.values, batch_size =2048, epochs = 15,callbacks=callbacks_list)
model_json = model.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_json)
model.save_weights("model.h5")

[<tf.Tensor 'reshape_13/Reshape:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_14/Reshape:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_15/Reshape:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_16/Reshape:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_17/Reshape:0' shape=(None, 19) dtype=float32>, <tf.Tensor 'reshape_18/Reshape:0' shape=(None, 1) dtype=float32>, <tf.Tensor 'reshape_19/Reshape:0' shape=(None, 6) dtype=float32>, <tf.Tensor 'reshape_20/Reshape:0' shape=(None, 3) dtype=float32>, <tf.Tensor 'reshape_21/Reshape:0' shape=(None, 8) dtype=float32>, <tf.Tensor 'reshape_22/Reshape:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_23/Reshape:0' shape=(None, 50) dtype=float32>, <tf.Tensor 'reshape_24/Reshape:0' shape=(None, 50) dtype=float32>]
Model: "model_2"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_13 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_14 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_15 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_16 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_17 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_18 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_19 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_20 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_21 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_22 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_23 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
input_24 (InputLayer)           (None, 1)            0
__________________________________________________________________________________________________
embedding_13 (Embedding)        (None, 1, 50)        1109450     input_13[0][0]
__________________________________________________________________________________________________
embedding_14 (Embedding)        (None, 1, 50)        195850      input_14[0][0]
__________________________________________________________________________________________________
embedding_15 (Embedding)        (None, 1, 50)        21850       input_15[0][0]
__________________________________________________________________________________________________
embedding_16 (Embedding)        (None, 1, 50)        218650      input_16[0][0]
__________________________________________________________________________________________________
embedding_17 (Embedding)        (None, 1, 19)        722         input_17[0][0]
__________________________________________________________________________________________________
embedding_18 (Embedding)        (None, 1, 1)         3           input_18[0][0]
__________________________________________________________________________________________________
embedding_19 (Embedding)        (None, 1, 6)         78          input_19[0][0]
__________________________________________________________________________________________________
embedding_20 (Embedding)        (None, 1, 3)         21          input_20[0][0]
__________________________________________________________________________________________________
embedding_21 (Embedding)        (None, 1, 8)         128         input_21[0][0]
__________________________________________________________________________________________________
embedding_22 (Embedding)        (None, 1, 50)        10000       input_22[0][0]
__________________________________________________________________________________________________
embedding_23 (Embedding)        (None, 1, 50)        23750       input_23[0][0]
__________________________________________________________________________________________________
embedding_24 (Embedding)        (None, 1, 50)        26800       input_24[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_13 (SpatialDr (None, 1, 50)        0           embedding_13[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_14 (SpatialDr (None, 1, 50)        0           embedding_14[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_15 (SpatialDr (None, 1, 50)        0           embedding_15[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_16 (SpatialDr (None, 1, 50)        0           embedding_16[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_17 (SpatialDr (None, 1, 19)        0           embedding_17[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_18 (SpatialDr (None, 1, 1)         0           embedding_18[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_19 (SpatialDr (None, 1, 6)         0           embedding_19[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_20 (SpatialDr (None, 1, 3)         0           embedding_20[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_21 (SpatialDr (None, 1, 8)         0           embedding_21[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_22 (SpatialDr (None, 1, 50)        0           embedding_22[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_23 (SpatialDr (None, 1, 50)        0           embedding_23[0][0]
__________________________________________________________________________________________________
spatial_dropout1d_24 (SpatialDr (None, 1, 50)        0           embedding_24[0][0]
__________________________________________________________________________________________________
reshape_13 (Reshape)            (None, 50)           0           spatial_dropout1d_13[0][0]
__________________________________________________________________________________________________
reshape_14 (Reshape)            (None, 50)           0           spatial_dropout1d_14[0][0]
__________________________________________________________________________________________________
reshape_15 (Reshape)            (None, 50)           0           spatial_dropout1d_15[0][0]
__________________________________________________________________________________________________
reshape_16 (Reshape)            (None, 50)           0           spatial_dropout1d_16[0][0]
__________________________________________________________________________________________________
reshape_17 (Reshape)            (None, 19)           0           spatial_dropout1d_17[0][0]
__________________________________________________________________________________________________
reshape_18 (Reshape)            (None, 1)            0           spatial_dropout1d_18[0][0]
__________________________________________________________________________________________________
reshape_19 (Reshape)            (None, 6)            0           spatial_dropout1d_19[0][0]
__________________________________________________________________________________________________
reshape_20 (Reshape)            (None, 3)            0           spatial_dropout1d_20[0][0]
__________________________________________________________________________________________________
reshape_21 (Reshape)            (None, 8)            0           spatial_dropout1d_21[0][0]
__________________________________________________________________________________________________
reshape_22 (Reshape)            (None, 50)           0           spatial_dropout1d_22[0][0]
__________________________________________________________________________________________________
reshape_23 (Reshape)            (None, 50)           0           spatial_dropout1d_23[0][0]
__________________________________________________________________________________________________
reshape_24 (Reshape)            (None, 50)           0           spatial_dropout1d_24[0][0]
__________________________________________________________________________________________________
concatenate_2 (Concatenate)     (None, 387)          0           reshape_13[0][0]
                                                                 reshape_14[0][0]
                                                                 reshape_15[0][0]
                                                                 reshape_16[0][0]
                                                                 reshape_17[0][0]
                                                                 reshape_18[0][0]
                                                                 reshape_19[0][0]
                                                                 reshape_20[0][0]
                                                                 reshape_21[0][0]
                                                                 reshape_22[0][0]
                                                                 reshape_23[0][0]
                                                                 reshape_24[0][0]
__________________________________________________________________________________________________
dense_8 (Dense)                 (None, 512)          198656      concatenate_2[0][0]
__________________________________________________________________________________________________
dropout_7 (Dropout)             (None, 512)          0           dense_8[0][0]
__________________________________________________________________________________________________
dense_9 (Dense)                 (None, 256)          131328      dropout_7[0][0]
__________________________________________________________________________________________________
dropout_8 (Dropout)             (None, 256)          0           dense_9[0][0]
__________________________________________________________________________________________________
dense_10 (Dense)                (None, 128)          32896       dropout_8[0][0]
__________________________________________________________________________________________________
dropout_9 (Dropout)             (None, 128)          0           dense_10[0][0]
__________________________________________________________________________________________________
dense_11 (Dense)                (None, 128)          16512       dropout_9[0][0]
__________________________________________________________________________________________________
dropout_10 (Dropout)            (None, 128)          0           dense_11[0][0]
__________________________________________________________________________________________________
dense_12 (Dense)                (None, 64)           8256        dropout_10[0][0]
__________________________________________________________________________________________________
dropout_11 (Dropout)            (None, 64)           0           dense_12[0][0]
__________________________________________________________________________________________________
dense_13 (Dense)                (None, 16)           1040        dropout_11[0][0]
__________________________________________________________________________________________________
dropout_12 (Dropout)            (None, 16)           0           dense_13[0][0]
__________________________________________________________________________________________________
dense_14 (Dense)                (None, 1)            17          dropout_12[0][0]
==================================================================================================
Total params: 1,996,007
Trainable params: 1,996,007
Non-trainable params: 0
__________________________________________________________________________________________________
None

C:\Users\sKuma\anaconda3\envs\tf_4\lib\site-packages\tensorflow_core\python\framework\indexed_slices.py:424: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Epoch 1/15
 16384/284778 [>.............................] - ETA: 28s - loss: 25.8024 - mean_absolute_error: 3.4174

KeyboardInterrupt:

In [ ]:
sub=model.predict(x_tst)
# model.predict(x_tst)

In [ ]:
sub=pd.Series(sub.reshape(1,-1)[0],name='UnitPrice')

In [ ]:
sub.var()

In [153]:
sub.to_csv('submission.csv',index=False)

In [130]:
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)

In [132]:
loaded_model.load_weights('model.h5')
# loaded_model.load_weights('finalswap/save_best.h5')

In [133]:
loaded_model.predict(x_tst)

array([[2.0208805],
       [1.555449 ],
       [3.5218606],
       ...,
       [1.7743297],
       [3.4725018],
       [4.0853477]], dtype=float32)